<h3><%= @order.name %></h3>
<form action="/orders/<%= @order.id %>/refunds" method="post">

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cost</th>
        <th>Tax</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
          <strong>Subtotal</strong>
          <td colspan="3">
            <%= @order.subtotal_price %>
          </td>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Shipping</strong>
        </td>
        <td>
          <% @order.shipping_lines.each do |shipping_line| %>
            <%= shipping_line.price %>
            <% unless shipping_line == @order.shipping_lines.last %>
              <br>
            <% end %>
          <% end %>
        </td>
        <td colspan="2">
          <% @order.shipping_lines.each do |shipping_line| %>
            <%= sum_tax_lines(shipping_line.tax_lines) %>
            <% unless shipping_line == @order.shipping_lines.last %>
              <br>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Tax</strong>
        </td>
        <td colspan="3"><%= @order.total_tax %></td>
      </tr>
      <tr>
        <td>
          <strong>Total</strong>
        </td>
        <td colspan="3"><%= @order.total_price %></td>
      </tr>
    </tfoot>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td>
            <%= line_item.title %>
            <br>
            <small><%= line_item.variant_title %></small>
          </td>
          <td>
            <%= line_item.price %>
          </td>
          <td>
            <%= (sum_tax_lines(line_item.tax_lines) / line_item.quantity) %>
          </td>
          <td>
            <% if line_item_refunds_in_order(line_item, @order) < line_item.quantity %>
              <input type="hidden" name="refund[refund_line_items][][line_item_id]" value="<%= line_item.id %>">
              <input name="refund[refund_line_items][][quantity]" type="number" min="0" max="<%= line_item.quantity - line_item_refunds_in_order(line_item, @order) %>" value="0">
            <% else %>
              <span>Already returned</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <label>
    <input name="refund[restock]" type="checkbox">
    <span class="label-body">Restock</span>
  </label>
  <label>
    <input name="refund[notify]" type="checkbox" checked>
    <span class="label-body">Notify</span>
  </label>

  <label for="shipping">Shipping</label>
  <input id="shipping" class="u-full-width" type="text" name="refund[shipping][amount]" placeholder="Shipping" value="0">

  <label for="amount">Amount</label>
  <input id="amount" class="u-full-width" type="text" name="refund[amount]" placeholder="Amount" value="0">

  <label for="note">Note</label>
  <input id="note" class="u-full-width" type="text" name="refund[note]" placeholder="Note">

  <input type="hidden" name="refund[checkout_id]" value="<%= @order.checkout_id %>">

  <input class="button-primary" type="submit" value="Submit">
</form>
