<h4><%= @order.name %></h4>
<form action="/orders/<%= @order.id %>/refunds" method="post">

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cost</th>
        <th>Tax</th>
        <th colspan="2">Qty</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
          <strong>Subtotal</strong>
          <td colspan="4">
            <%= @order.subtotal_price %>
          </td>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Shipping</strong>
        </td>
        <td>
          <% @order.shipping_lines.each do |shipping_line| %>
            <%= shipping_line.price %>
            <% if @order.discount_code && @order.discount_code.type == 'shipping' %>
              <br>&minus;
              <small><%= shipping_line.discounted_price %></small>
            <% end %>
            <% unless shipping_line == @order.shipping_lines.last %>
              <br>
            <% end %>
          <% end %>
        </td>
        <td colspan="3">
          <% @order.shipping_lines.each do |shipping_line| %>
            <%= shipping_line.sum_tax_lines.round(2) %>
            <% unless shipping_line == @order.shipping_lines.last %>
              <br>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Tax</strong>
          <% if @order.taxes_included %>
            <br>
            <small>Included</small>
          <% end %>
        </td>
        <td colspan="4"><%= @order.total_tax %></td>
      </tr>
      <tr>
        <td>
          <strong>Total</strong>
        </td>
        <td colspan="4"><%= @order.total_price %></td>
      </tr>
      <tr>
        <td>
          <strong>Refund</strong>
        </td>
        <td colspan="4"><%= @order.total_refund %></td>
      </tr>
    </tfoot>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td>
            <%= line_item.title %>
            <br>
            <small><%= line_item.variant_title %></small>
          </td>
          <td>
            <%= line_item.price %>
            <% if line_item.has_discount_with_order?(@order) %>
              <br>
              <small>&minus;
                <%= (@order.discount_rate * line_item.price.to_f).round(2) %>
              </small>
            <% end %>
          </td>
          <td>
            <%= line_item.taxes_per_unit %>
          </td>
          <td><%= line_item.quantity %></td>
          <td>
            <% if @order.refunds_for_line_item(line_item) < line_item.quantity %>
              <input type="hidden" name="refund[refund_line_items][][line_item_id]" value="<%= line_item.id %>">
              <input name="refund[refund_line_items][][quantity]" type="number" min="0" max="<%= line_item.quantity - @order.refunds_for_line_item(line_item) %>" value="0">
            <% else %>
              <span>Already returned</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <label>
    <input name="refund[restock]" type="checkbox">
    <span class="label-body">Restock</span>
  </label>
  <label>
    <input name="refund[notify]" type="checkbox" checked>
    <span class="label-body">Notify</span>
  </label>

  <label for="shipping">Shipping</label>
  <input id="shipping" class="u-full-width" type="text" name="refund[shipping][amount]" placeholder="Shipping" value="0">

  <label for="amount">Amount</label>
  <input id="amount" class="u-full-width" type="text" name="refund[amount]" placeholder="Amount" value="0">

  <label for="note">Note</label>
  <input id="note" class="u-full-width" type="text" name="refund[note]" placeholder="Note">

  <input type="hidden" name="refund[checkout_id]" value="<%= @order.checkout_id %>">

  <input class="button-primary" type="submit" value="Submit">
</form>
